<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="elparici_entity_search_by_params" controller="Elparici\EntitySearchBundle\Controller\EntitySearchController::byParams" path="/byParams">
        <!-- settings -->
    </route>
</routes>