<div class="row justify-content-center">
{% if pager == 'pager_fanta' %}
    {{ pagerfanta(pagination, 'twitter_bootstrap4_translated') }}
{% endif %}
{% if pager == 'knp_paginator' %}
    Nav for knp snappy not implemented yet
{% endif %}
</div>